/** 
FARVEKODER
#FFFFFF - HVID
#D6F2EE - LIGHT MINT
#60C5BB - TURKIS
#052724 - DARK PETROLEUM FONT
#3F0F0B - DARK BROWN ORANGE
#F29B67 - BRIGHT ORANGE
#FAD6C5 - LIGHT PEACH
**/

/**
FONTE
Serif: Playfair Display - Bold
Sans serif: Roboto - Regular
**/

* {
  box-sizing: border-box;
}
img {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* FAQ */
.faqinner {
  max-width: 640px;
  margin: 0 auto;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  color: #052724;
  font-size: 28px;
  user-select: none;
}
