---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import CardSection from "../components/CardSection.astro";
import Card from "../components/Card.astro";
import FAQ from "../components/FAQ.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Fra Html</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css" />
    <!-- Siden er adapteret fra denne tutorial: https://www.w3schools.com/howto/howto_css_about_page.asp -->
    <!-- Billeder er fra https://unsplash.com/ -->
  </head>
  <body>
    <Navigation />
    <Header/>
<CardSection>
	<Card/>
</CardSection>
	<FAQ/>
	<Form/>
    <Footer />
  </body>
</html>
