---
import Button from "./Button.astro";
const { cardTitle, description, imageSrc } = Astro.props;
---

<article class="card">
  <img src=`${imageSrc}` alt=`Image` />
  <div class="card_container">
    <h2>{cardTitle}</h2>
    <p>{description}</p>
    <p><Button text=`Learn more` /></p>
  </div>
</article>

<style>
    article{
        background-color: #EAF9F8;
        border-radius: 20%;
    }
    h2{
        color: #052724;
         font-family: "Playfair Display", serif;
    }
p{
    color: #052724;
 font-family: "Roboto", sans-serif;
}
</style>