---
const { ask, answer } = Astro.props;
---

<button type="button" class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Lorem ipsum...</p>
</div>
<style>
   .collapsible{
    background-color: #FAD6C5;
    color: #3F0F0B;
    cursor: pointer;
    padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
   }

   .active, .collapsible:hover {
  background-color: #FAD6C5;
}
   .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #FFFFFF;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
</style>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


