---
const { collapsible, content, FaqImg } = Astro.props;
let isOpen = false;
---

<article class="faq-container">
  <div class="faq-header" on:click={() => (isOpen = !isOpen)}>
    <img src={FaqImg} alt="FAQ Icon" class:list={["faq-icon", isOpen && "rotate"]} />
    <span class="question">{collapsible}</span>
  </div>
  <div class:list={["content", isOpen && "show"]}>
    <p>{content}</p>
  </div>
</article>

<style>
  /* FAQ Container */
  .faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 18px;
    text-align: left;
    background-color: #EAF9F8;
    border-radius: 10px;
    padding: 10px;
  }

  /* FAQ Header */
  .faq-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FAD6C5;
    padding: 18px;
    cursor: pointer;
    font-weight: 700;
    color: #3F0F0B;
    border-radius: 8px;
  }

  /* FaqImg styling */
  .faq-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }

  .faq-icon.rotate {
    transform: rotate(180deg);
  }

  /* Indhold styling */
  .content {
    padding: 12px;
    font-family: "Roboto", sans-serif;
    display: none; /* Starter skjult */
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    color: #3F0F0B;
    transition: max-height 0.3s ease-out, opacity 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .content.show {
    display: block; /* Vises når åben */
    max-height: 500px; /* Tilpasset højde */
    opacity: 1;
  }
</style>