---
import Button from "./Button.astro";
---

<nav>
<a href="#">
    <img src="/src/assets/mplogo.png" alt="logo">
</a>
</nav>

<style>
  nav {
    padding: 0.25rem 2rem;
    background-color: #FFFFFF;
    color: #3F0F0B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
</style>